connect

:stop-servers(blocking=true)

set datasourceJNDI=${datasourceJNDI}
set datasourceUser=${datasourceUser}
set datasourcePassword=${datasourcePassword}
set datasourceURL=${datasourceURL}
set hostname=${hostname}
set clusterPassword=${clusterPassword}
set clusterMaxHeap=${clusterMaxHeap}
set masterHost=${masterHost}
set slaveUser=${slaveUser}
set slaveSecret=${slaveSecret}
set managementAddress=${managementAddress}
set publicAddress=${publicAddress}
set unsecureAddress=${unsecureAddress}

/server-group=main-server-group/jvm=default:write-attribute(name=max-heap-size,value=$clusterMaxHeap)
/host=master:write-attribute(name=name,value=slave)

if (outcome != success) of /system-property=jboss.messaging.cluster.password:read-resource
  /system-property=jboss.messaging.cluster.password:add(value=$clusterPassword)
end-if

echo Ensuring full-ha profile in main server group
/server-group=main-server-group:write-attribute(name=profile,value=full-ha)
/server-group=main-server-group:write-attribute(name=socket-binding-group, value=full-ha-sockets)

echo Setting up hostname
if (outcome != success) of /profile=full-ha/subsystem=undertow/server=default-server/host=kunta-api:read-resource
  /profile=full-ha/subsystem=undertow/server=default-server/host=kunta-api:add(alias=$hostname)
end-if

echo Remove profile default
if (outcome == success) of /profile=default:read-resource
  /profile=default:remove()
end-if

echo Remove profile full
if (outcome == success) of /profile=full:read-resource
  /profile=full:remove()
end-if

echo Remove profile ha
if (outcome == success) of /profile=ha:read-resource
  /profile=ha:remove()
end-if

echo Remove profile load-balancer
if (outcome == success) of /profile=load-balancer:read-resource
  /profile=load-balancer:remove()
end-if
 
echo Setting up JDBC Driver
if (outcome != success) of /profile=full-ha/subsystem=datasources/jdbc-driver=mysql:read-resource
  /profile=full-ha/subsystem=datasources/jdbc-driver=mysql:add(xa-datasource-class=com.mysql.jdbc.jdbc2.optional.MysqlXADataSource,driver-module-name=com.mysql.jdbc,driver-name=mysql)
end-if

echo Setting up datasource
if (outcome != success) of /profile=full-ha/subsystem=datasources/data-source=kuntaapi:read-resource
  /profile=full-ha/subsystem=datasources/data-source=kuntaapi:add(jta=true, jndi-name=$datasourceJNDI, enabled=true, use-ccm=true, connection-url=$datasourceURL, driver-name=mysql, user-name=$datasourceUser, password=$datasourcePassword, validate-on-match=false, check-valid-connection-sql=SELECT\ 1, share-prepared-statements=false)
else
  /profile=full-ha/subsystem=datasources/data-source=kuntaapi:write-attribute(name=connection-url,value=$datasourceURL)
  /profile=full-ha/subsystem=datasources/data-source=kuntaapi:write-attribute(name=user-name,value=$datasourceUser)
  /profile=full-ha/subsystem=datasources/data-source=kuntaapi:write-attribute(name=password,value=$datasourcePassword)
end-if

echo Setting up cache container
if (outcome != success) of /profile=full-ha/subsystem=infinispan/cache-container=kunta-api:read-resource
  /profile=full-ha/subsystem=infinispan/cache-container=kunta-api:add()
  /profile=full-ha/subsystem=infinispan/cache-container=kunta-api/transport=TRANSPORT:add(lock-timeout=60000)
end-if

echo Remove server-three
if (outcome == success) of /host=master/server-config=server-three:read-resource
  /host=master/server-config=server-three:remove()
end-if

echo Remove other-server-group
if (outcome == success) of /server-group=other-server-group:read-resource
  /server-group=other-server-group:remove()
end-if

echo Remove server-two
if (outcome == success) of /host=master/server-config=server-two:read-resource
  /host=master/server-config=server-two:remove()
end-if

echo Setup remote domain controller
/host=master:remove-local-domain-controller()
/host=master:write-remote-domain-controller(protocol=remote,host=${masterHost},username=${slaveUser},security-realm=management-realm)
if (outcome == success) of /host=master/core-service=management/security-realm=ManagementRealm/server-identity=secret:read-resource
  /host=master/core-service=management/security-realm=ManagementRealm/server-identity=secret:add(value=${slaveSecret})
end-if

/interface=management:write-attribute(name=inet-address,value=$managementAddress)
/interface=public:write-attribute(name=inet-address,value=$publicAddress)
/interface=unsecure:write-attribute(name=inet-address,value=$unsecureAddress)

reload --host=master
:reload-servers(blocking=true)
deploy /snap/kunta-api-server/current/war/kunta-api-server-{{ KUNTA_API_SERVER_VERSION }}.war --all-server-groups
